<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.petHospital.mapper.MedicineMapper" >
  <resultMap id="BaseResultMap" type="org.petHospital.model.Medicine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="medicine_name" property="medicineName" jdbcType="VARCHAR" />
    <result column="medicine_price" property="medicinePrice" jdbcType="REAL" />
    <result column="medicine_type" property="medicineType" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, medicine_name, medicine_price, medicine_type, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.petHospital.model.MedicineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from medicine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from medicine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.petHospital.model.MedicineExample" >
    delete from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.petHospital.model.Medicine" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into medicine (medicine_name, medicine_price, medicine_type, 
      description)
    values (#{medicineName,jdbcType=VARCHAR}, #{medicinePrice,jdbcType=REAL}, #{medicineType,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.petHospital.model.Medicine" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="medicineName != null" >
        medicine_name,
      </if>
      <if test="medicinePrice != null" >
        medicine_price,
      </if>
      <if test="medicineType != null" >
        medicine_type,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="medicineName != null" >
        #{medicineName,jdbcType=VARCHAR},
      </if>
      <if test="medicinePrice != null" >
        #{medicinePrice,jdbcType=REAL},
      </if>
      <if test="medicineType != null" >
        #{medicineType,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.petHospital.model.MedicineExample" resultType="java.lang.Integer" >
    select count(*) from medicine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update medicine
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.medicineName != null" >
        medicine_name = #{record.medicineName,jdbcType=VARCHAR},
      </if>
      <if test="record.medicinePrice != null" >
        medicine_price = #{record.medicinePrice,jdbcType=REAL},
      </if>
      <if test="record.medicineType != null" >
        medicine_type = #{record.medicineType,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update medicine
    set id = #{record.id,jdbcType=INTEGER},
      medicine_name = #{record.medicineName,jdbcType=VARCHAR},
      medicine_price = #{record.medicinePrice,jdbcType=REAL},
      medicine_type = #{record.medicineType,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.petHospital.model.Medicine" >
    update medicine
    <set >
      <if test="medicineName != null" >
        medicine_name = #{medicineName,jdbcType=VARCHAR},
      </if>
      <if test="medicinePrice != null" >
        medicine_price = #{medicinePrice,jdbcType=REAL},
      </if>
      <if test="medicineType != null" >
        medicine_type = #{medicineType,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.petHospital.model.Medicine" >
    update medicine
    set medicine_name = #{medicineName,jdbcType=VARCHAR},
      medicine_price = #{medicinePrice,jdbcType=REAL},
      medicine_type = #{medicineType,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>