<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" style="height: 100%">
<head>
    <title>Hello World!</title> 
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>

<body style="height: 100%">
  <div style="height: 100%">
    <el-row>  
      <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24"><div class="grid-content bg-purple-dark" id="top-bar">
        <div id="user-name">{{user_name}}</div>
      </div></el-col>
    </el-row>
    <aside class="el-aside left-menu">
      <li class="self-menu-item el-menu-item" id="case-management">
        <i class="el-icon-menu el-menu-icon" style="font-size: 32px"></i>
        <span>病历管理</span>
      </li>
      <li class="self-menu-item el-menu-item" id="test-management">
        <i class="el-icon-tickets el-menu-icon" style="font-size: 32px"></i>
        <span>测试管理</span>
      </li>
      <li class="self-menu-item el-menu-item" id="sys-management">
        <i class="el-icon-setting el-menu-icon" style="font-size: 32px"></i>
        <span>系统管理</span>
      </li>
    </aside>
  </div>

<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script> -->
<script type="text/javascript" src="@{/js/vue.js}"></script>
<script type="text/javascript" src="@{/js/vue-router.js}"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script th:src="@{/js/index.js}"></script>
</body>
